.user_views {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid rgba(5, 5, 5, 0.06);
    height: 100%;
}

.chat_view {
    width: 100%;
    height: 100%;
    display: flex;
}

.no_dialog, .dialog {
    width: 100%;
}

.no_dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.user_views h2 {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.user_view {
    border: 1px solid rgba(5, 5, 5, 0.06);
    cursor: pointer;
}

.user_view, .no_messages {
    display: inline-block;
    width: 400px;
    padding: 12px;
}

.no_messages {
    text-align: center;
}

.user_view:hover {
    border: 1px solid #1677ff;
}

.view_userfulllname {
    font-size: 20px;
}

.view_last_message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 16px;
  color: rgba(33, 53, 71, 0.65);
}

.dialog_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dialog_header {
    background-color: #1677ff;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    /* vertical-align: middle; */
    padding-left: 20px;
}
.dialog_header h3 {
    margin: 0;
}

.dialog_messages {
    overflow: scroll;
    height: calc(100% - 60px - 54px);
    display: flex;
    flex-direction: column-reverse;
}

.dialog_respond_field {
    height: 54px;
    display: flex;
}

.dialog_respond_field button {
    height: 100%;
}

.message_container {
    display: block;
    position: relative;
    /* margin-bottom: 10px; */
}

.message_sender {
    /* position: absolute; */
    border: 1px solid #1677ff;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    max-width: 400px;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

.message_responder {
    overflow-wrap: break-word;
    background-color: #1677ff;
    margin-left: auto;
    margin-right: 20px;
    text-align: left;
    max-width: 400px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    float: right;
    margin-bottom: 10px;
}

.message_container > .message_responder {
    display: flex;
    justify-content: space-between;
}
