.statistics_wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    grid-gap: 10px;
}

.stat_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.stat_holder {
    height: 100%;
    display: flex;
}

.join_sources {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid rgba(5, 5, 5, 0.06);
    height: 100%;
    width: 400px;
}


/* Temporary style for side menu */
.join_sources {
    padding: 30px;
    color: rgba(33, 53, 71, 0.65);
}
